@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
// MIXINS
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

// VARIABLES
$dark: #191919;
//
:root {
  font-family: "Instrument Sans", sans-serif;
}

body {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1;
  grid-gap: 2rem;
  @media (min-width: 768px) {
    grid-template-columns: 12rem 1fr;
  }
  @media (min-width: 1024px) {
    grid-template-columns: 20rem 1fr;
  }
}

a.download-cv {
  font-size: 17px;
  font-weight: 500;
  mark {
    padding: 5px;
    background-color: #29ffad;
  }
  &:hover {
    mark {
      background-color: #fbff29;
    }
  }
}

img.space {
  @media (min-width: 768px) {
    max-width: 37rem;
  }
}

.content {
  display: grid;
  max-width: 36rem;
  p {
    letter-spacing: -0.4px;
    line-height: 1;
    font-size: 36px;
    span.exotrail {
      font-weight: 500;
    }
  }

  p.secondary-text {
    margin: 1rem 0 0.5rem;
    font-size: 32px;
    font-style: italic;
  }
}
